.my-jumbotron {
    Button {
        padding: auto;
        margin: 50px;
        border-radius: 10px;
        }
    
     
        background-image: url(./background.png);
        background-position: center;
        background-size: 50%;
        color: black;
        
}